= render 'views/_topbar.haml'
#section-intro
  = render 'views/_profile_image.haml'
  = render 'views/_about.haml'
  = render 'views/_resume.haml'
  = render 'views/_works.haml'
  = render 'views/_contact.haml'